@import '../../constants';

.popover-wrapper {
  :global(.ant-popover-open) {
    z-index: 1040;
  }
}

:global(.ant-popover-mask) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $popover-mask-color;
  z-index: 1030;
}

:global(.ant-popover-mask-hidden) {
  display: none;
}
