@import '../../../constants';

.tooltip {
  max-width: 200px;

  .title {
    font-weight: 500;
    font-size: $font-size-smaller;
    margin: 0 0 4px;
  }

  .description {
    display: block;
    font-size: $font-size-smallest;
  }
}

.product-img {
  display: block;
  margin: auto;
  width: 50px;
}

.missing-img-icon {
  display: block;
  margin: auto;
  font-size: 42px;
}
