@import '../../../constants';

.drag-handle {
  margin-left: auto;
  height: 14px;
  width: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;

  span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: $text-muted;
    border-radius: 2px;
  }
}
