@import '../../../constants';

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;

  div:nth-child(1) {
    font-size: $font-size-xlarge;
    margin-right: 15px;
  }

  div:nth-child(2) {
    font-size: $font-size-smallest;
  }

  button {
    margin-right: 15px;
  }
}
