@import '../../constants';

.card {
  @include box-shadow;
}

.row-spacing {
  margin-top: $row-padding;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    margin: 0;

    &:nth-child(2) {
      font-size: 12px;
      font-weight: normal;
      color: $text-muted;
    }
  }
}

.action {
  margin-left: 10px;
}
