@import '../../../constants';

.container {
  font-size: $font-size-medium;
  .apply {
    text-align: right;
    height: 21px;
    .button {
      font-style: $font-size-smaller;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
  .divider {
    margin: 12px 0;
  }
}
