@import '../../constants';

.row-spacing {
  padding-top: $row-padding;
}

.empty-content {
  position: relative;
  min-height: 300px;
}

.tooltip {
  max-width: 200px;

  .title {
    font-weight: 500;
    font-size: $font-size-smaller;
    margin: 0 0 4px;
  }

  .description {
    display: block;
    font-size: $font-size-smallest;
  }
}

.attribute-name {
  font-weight: 500;
  text-decoration: underline dotted;
  color: black;
  margin-right: 5px;
}
