@import '../../../../constants';

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;

    img {
      max-width: 100%;
      margin-right: 8px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: $font-size-smallest;
      margin-bottom: 4px;

      div {
        margin-bottom: 0;
      }

      div:nth-child(1) {
        font-weight: $font-weight-bold;
      }

      div:nth-child(2) {
        font-weight: $font-weight-light;
      }
    }
  }
}

.missing-img-icon {
  display: block;
  font-size: 75px;
  margin-right: 8px;
}
