@import '../../../constants.scss';

.new-card {
  background-color: $body-bg-color;
  border: 1px dashed $primary-color;
  color: $primary-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .new-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      padding-top: 8px;
    }
  }
}

.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  color: $primary-color;
}
