@import '../../../constants';

.content {
  :global(.ant-tag) {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 15px;
  }

  :global(.anticon-close) {
    margin-left: 6px;
    font-size: 14px;
  }
}
