@import '../../constants';

.wrapper {
  @include box-shadow;

  background-color: white;
  padding: 0 24px;
}

.breadcrumb {
  padding-top: 15px;
  padding-bottom: 0;
}

.filters {
  margin-top: -3px;
  padding-top: 0;
  padding-bottom: 5px;
}

.divider {
  height: 45px;
  width: 0;
  margin-right: 40px;
  margin-left: 40px;
}
