@import '../../../constants';

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;

  .setting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 110px;
    min-height: 52px;
    margin-right: 20px;

    :global(.ant-form-item-control) {
      line-height: 0;
    }

    .label {
      font-size: $font-size-smallest;
      font-weight: $font-weight-bold;
      color: $text-extra-light;
      padding-top: 0;
      padding-bottom: 3px;
      span {
        padding-left: 3px;
      }
    }

    .value {
      font-size: $font-size-smaller;
      padding: 7px 7px;
      margin-left: -7px;
    }

    .editing {
      padding-right: 14px;
      margin-left: -7px;
    }

    .editable {
      margin-left: -7px;
    }
  }

  &:hover {
    .editable {
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      padding: 6px 6px;
    }
  }

  .buttons {
    display: flex;
    button:nth-child(2) {
      margin-left: 15px;
    }
  }
}
