@import '../../constants';

.card {
  @include box-shadow;

  :global(.ant-table-spin-holder) {
    left: 0;
    min-height: 300px;
  }

  :global(.ant-pagination-options-size-changer.ant-select) {
    margin-right: 0;
  }
}

.card-header {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-left: 16px;
  }
}

.card-title {
  margin-right: auto;

  p {
    margin: 0;

    &:nth-child(2) {
      font-size: 12px;
      font-weight: normal;
      color: $text-muted;
    }
  }
}
