@import '../../../constants';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  margin-left: 2px;
  margin-right: 2px;
  font-size: $small-icon-size;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
