@import '../../constants';

.empty-content {
  position: relative;
  min-height: 300px;
}

.content {
  padding: 24px;
}

.title {
  font-size: $font-size-xlarge;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 12px;
}
