.normal-cell {
  margin-top: 9px;
  margin-bottom: 9px;
}

.cell-value-wrap {
  padding: 5px 12px;
}

.editable {
  cursor: pointer;
}

.editable-row:hover .cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
