@import '../../constants.scss';

.card {
  @include box-shadow;
}

.container {
  display: flex;
  margin-top: -12px;
  margin-bottom: 12%;

  div:nth-child(1) {
    margin-right: 20px;
  }

  .label {
    font-size: $font-size-smallest;
    font-weight: $font-weight-bold;
    color: $text-extra-light;
    margin-bottom: 4px;
  }
}

.cover {
  font-size: $font-size-xxlarge;
  padding: 24px 24px 30%;
  background: $primary-color;
  color: $white-background-color;
}

.accept-invite {
  margin-top: -10px;
  margin-bottom: -12px;
  margin-left: -8px;
}
