@import '../../constants';

.title-container {
  overflow: hidden;

  p {
    margin: 0;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.summary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $font-size-xxlarge;
  line-height: $font-size-xxlarge;
  font-weight: $font-weight-light;
  color: $text-primary;
  margin: 0;
  padding: 0;
}

.sub-title {
  p {
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: -8px;
  }
}

.tooltip {
  max-width: 200px;

  .longname {
    font-weight: 500;
  }

  .helptext {
    display: block;
    font-size: $font-size-smallest;
    padding: 2px 0 1px;
    margin-top: 4px;
  }
}

.icon {
  font-size: 30px;
}

.card {
  @include box-shadow;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0%;
  transition: width 0.3s ease;

  &:not(:first-of-type) {
    margin-left: 16px;
  }

  :global(.ant-card-loading-block) {
    height: 4px;
    margin: 0.5px 0;
  }
}
