@import '../../constants';

.panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.subtext-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .flourish {
    height: 1px;
    top: 1px;
    max-width: 200px;
    flex-grow: 1;
    background-color: $card-border-color;
  }

  .subtext {
    padding: 8px;
    flex-grow: 0;
    font-size: 11px;
    color: $text-light;
  }
}
