@import './constants.scss';

:global(.ant-tabs-bar) {
  @include box-shadow;

  background-color: white;
  padding: 0 $content-horiz-padding;
  margin-bottom: 0 !important;
}

:global(.ant-tabs-content) {
  padding: 24px $content-horiz-padding;
}

$tabpanes: 6;
@for $i from 0 to $tabpanes {
  :global(.ant-tabs-tabpane:nth-child(#{$i + 1})) {
    position: relative;
    left: calc(48px * #{$i});
  }
}
