@import '../../constants';

.select-title {
  margin: 4px;
  font-size: 12px;
  font-weight: 500; // same as Card header

  i {
    margin-left: 5px;
  }
}

.icon {
  font-size: $extra-small-icon-size;
}
