@import '../../constants';

.card {
  @include box-shadow;
}

.title-label {
  font-weight: $font-weight-semi-bold;
  color: $text-primary;
  p {
    text-align: center;
    margin: 0;
  }
}

.tooltip-title {
  color: white;
  p {
    margin: 0;
  }
}

.no-data-placeholder {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.select-title {
  font-size: 12px;
  margin: 4px;
}

.card-header {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-left: 16px;
  }
}

.card-title {
  margin-right: auto;

  p {
    margin: 0;

    &:nth-child(2) {
      font-size: 12px;
      font-weight: normal;
      color: $text-muted;
    }
  }
}
