@import '../../../constants';

.content {
  display: flex;
  flex-direction: column;
  width: 230px;
  .checkbox {
    margin-left: 0;
    line-height: 35px;
  }
  .all-checkbox {
    span {
      color: $text-muted !important;
    }
  }
  .help-text {
    color: $text-light;
    font-size: $font-size-smallest;
    font-style: italic;
  }
  .error {
    color: $danger-color;
  }
}
