@import '../../constants.scss';

.notification {
  width: 20px;
  border-radius: 20px;
  background: $danger-color;
  color: white;
  margin-right: 6px;
  text-align: center;
  display: inline-block;
}
